{% extends 'index.html' %}

{% block content %}
<main id="contactme-main">
    <div id="contact-header">
        <img src="/static/img/avatar.png" alt="Male avatar logo" width="100px" height="100px">
        <h1>Contact: Luc Smith</h1>
    </div>

    <section>
        <a href="https://github.com/LucS12/esg-investing-app" target="_blank"><div id="github-contact">
                <img src="/static/img/github_logo.png" alt="GitHub logo" width="50px" height="50px">
            <h3>Code Repo</h3>
        </div>

        <a href="https://www.linkedin.com/in/lucsmith12/" target="_blank">
            <div id="linkedin-contact">
                <img src="/static/img/linkedin_logo.png" alt="GitHub logo" width="50px" height="50px">
                <h3>My LinkedIn</h3>
            </div>
        </a>

         <a href="mailto: lcs24@njit.edu">
             <div id="email-contact">
                <img src="/static/img/gmail_logo.png" alt="GitHub logo" width="50px" height="50px">
                <h3>My E-Mail</h3>
            </div>
         </a>
    </section>

</main>

{% endblock %}

